.body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.btn {
  position: absolute;
  width: 180px;
  height: 180px;
}
.jinanBtn {
  top: calc(50% - 120px);
  left: calc(50% - 260px);
  width: 210px;
  height: 210px;
}
.weihaiBtn {
  top: calc(50% - 160px);
  right: calc(50% - 380px);
}
.qingdaoBtn {
  top: calc(50% - 20px);
  right: calc(50% - 240px);
}
