.body {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: small;
}
.intro > Text {
  margin: 8px;
  /* color: rgb(205, 55, 55); */
  color: black;
}

.btnGroup {
  margin-top: 100px;
  margin-bottom: 50px;
}

.btn {
  margin: 20px;
  color: white;
  border-radius: 50px;
  width: 233px;
  background-color: rgb(205, 55, 55);
}
